/*FILTROS*/
.filters-box {
  background-color: white;
  border-radius: 18px;
  padding: 24px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
  position: sticky;
  top: 20px;
}

.filters-box h4 {
  color: #1b4332;
  font-weight: 700;
  margin-bottom: 20px;
}

.form-label {
  font-weight: 600;
  color: #1b4332;
}

.result-top {
  background-color: white;
  border-radius: 16px;
  padding: 16px 20px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.06);
  margin-bottom: 24px;
}

/*PAGINAÇÃO*/
.page-link {
  color: #2d6a4f;
}

.page-item.active .page-link {
  background-color: #2d6a4f;
  border-color: #2d6a4f;
}
